/* @media screen and (max-width: 576px){ */
    /* Landing Page */

    #landing_page .landing_page_items .col_left .name_bar,
    #aboutme .name_bar,
    #education .name_bar,
    #skills .name_bar{
        animation: namebar_moving 1.5s ease-in-out infinite;
        -webkit-animation:namebar_moving 1.5s ease-in-out infinite ;
        -moz-animation: namebar_moving 1.5s ease-in-out infinite;
        -o-animation: namebar_moving 1.5s ease-in-out infinite;
    }
    #landing_page .landing_page_items .col_right a i.fa-arrow-circle-down,
    #landing_page .landing_page_items .col_left a i.fa-arrow-circle-down,
    #contact .container .col_left a i.fa-arrow-circle-down{
        animation:arrow_down 0.8s ease infinite;
    }
    #landing_page .container .moving,
    #aboutme .moving,
    #education .moving,
    #skills .moving{
        animation: moving 2s linear infinite;
    }
    #landing_page .container .moving1,
    #aboutme .moving1,
    #education .moving1,
    #skills .moving1{
        animation: moving1 5s linear infinite;
    }
    #landing_page .container .moving2{
        animation: moving2 6s linear infinite;
        animation-delay: 0.5s;
    }
    #landing_page .landing_page_items .col_left{
        animation: left_content 0.5s ease-in forwards;
        opacity: 0;
    }
    #landing_page .landing_page_items .col_left .landing_page_links a{
        animation: social_links 0.4s ease-in forwards;
        animation-delay: 0.7s;
    }
    #landing_page .landing_page_items .col_right h6{
        animation: introduction 0.5s ease-in forwards;
        animation-delay: 1s;
    }
    #landing_page .landing_page_items .col_right h1{
        animation: right_content 0.5s ease-in forwards;
        animation-delay: 1.6s ;
    }
    #landing_page .landing_page_items .col_right p,
    #landing_page .landing_page_items .col_right a{
        animation: mystory 0.5s ease-in forwards;
        animation-delay: 1.8s;
    }
    #landing_page .container nav .logo .bars .bar_up{
        animation: updown_bar 1.5s ease-in-out infinite;
    }
    #landing_page .container nav .logo .bars .bar_mid{
        animation: updown_bar_mid 1.5s linear infinite;
    }
    .typer::after{
        content: "";
        animation: typer 5s ease-in infinite;
        color: rgb(255, 59, 0);
    }
    .show_drop{
        animation: drop_down 0.5s ease forwards;
    }
    .hide_drop{
        animation: hide_down 0.5s ease forwards;
    }




    /* Mobile screen */
    @media screen and (max-width: 420px){
        .aboutme_header{
            animation: aboutme_header 0.5s ease forwards;
        }
        .aboutme_img{
            animation:aboutme_img 0.5s ease-out forwards;
        }
        .aboutme_names{
            animation: aboutme_names 0.6s ease-in forwards;
        }
        .aboutme_obj,
        .aboutme_what{
            animation: aboutme_obj 0.6s ease-out forwards;
        }
        .aboutme_iknow{
            animation: aboutme_iknow 0.5s linear forwards;
        }
        .aboutme_btn{
            animation: aboutme_btn 0.5s linear forwards;
        }

        /* Education Section */
        .education_header{
            animation: aboutme_btn 0.5s ease-in forwards;
        }
        .education_col1,
        .education_col3{
            animation: education_col13 0.6s ease-in-out forwards;
        }
        .education_col2{
            animation: education_col2 0.6s ease-in-out forwards;
        }

        /* Skills */
        .skills_header{
            animation: skills_header 0.5s ease-in forwards;
        }
        .skills_bar_ani .con .one{
            animation: skillsbarone 1s ease forwards ;
        }
        .skills_bar_ani .con .two{
            animation: skillsbartwo 1s ease forwards ;
            animation-delay: 0.3s;
        }
        .skills_bar_ani .con .three{
            animation: skillsbarthree 1s ease forwards ;
            animation-delay: 0.6s;
        }
        .skills_bar_ani .con .four{
            animation: skillsbarfour 1s ease forwards ;
            animation-delay: 1s;
        }
        .skills_bar_ani .con .five{
            animation: skillsbarfive 1s ease forwards ;
            animation-delay: 1.3s;
        }

    }
    @media (min-width: 420px) and (max-width: 768px){
        /* AboutMe */
        .aboutme_header2{
            animation: aboutme_header 0.5s ease forwards;
        }
        .aboutme_img2{
            animation:aboutme_img 0.5s ease-out forwards;
        }
        .aboutme_names2{
            animation: aboutme_names 0.6s ease-in forwards;
        }
        .aboutme_obj2,
        .aboutme_what2{
            animation: aboutme_obj 0.6s ease-out forwards;
        }
        .aboutme_iknow,
        .aboutme_iknow2{
            animation: aboutme_iknow 0.5s linear forwards;
        }
        .aboutme_btn2{
            animation: aboutme_btn 0.5s linear forwards;
            margin-top: 0;
        }

        /* Education Section */
        .education_header2{
            animation: aboutme_btn 0.5s ease-in forwards;
        }
        .education_col12,
        .education_col32{
            animation: education_col13 0.6s ease-in-out forwards;
        }
        .education_col22{
            animation: education_col2 0.6s ease-in-out forwards;
        }


        /* Skills */
        .skills_header2{
            animation: skills_header 0.5s ease-in forwards;
        }
        .skills_bar_ani2 .con .one{
            animation: skillsbarone 1s ease forwards ;
        }
        .skills_bar_ani2 .con .two{
            animation: skillsbartwo 1s ease forwards ;
            animation-delay: 0.3s;
        }
        .skills_bar_ani2 .con .three{
            animation: skillsbarthree 1s ease forwards ;
            animation-delay: 0.6s;
        }
        .skills_bar_ani2 .con .four{
            animation: skillsbarfour 1s ease forwards ;
            animation-delay: 1s;
        }
        .skills_bar_ani2 .con .five{
            animation: skillsbarfive 1s ease forwards ;
            animation-delay: 1.3s;
        }
    }

    @media (min-width: 769px){
        /* AboutMe */
        .aboutme_header2{
            animation: aboutme_header 0.5s ease forwards;
        }
        .aboutme_img3{
            animation:aboutme_img 0.5s ease-out forwards;
        }
        .aboutme_names3{
            animation: aboutme_names 0.6s ease-in forwards;
        }
        .aboutme_what3,
        .aboutme_obj3{
            animation: aboutme_obj 0.6s ease-out forwards;
        }
        .aboutme_iknow3{
            animation: aboutme_iknow 0.5s linear forwards;
        }
        .aboutme_btn3{
            animation: aboutme_btn 0.5s linear forwards;
            margin-top: 0;
        }

        /* Education Section */
        .education_header3{
            animation: aboutme_btn 0.5s ease-in forwards;
        }
        .education_col13,
        .education_col33{
            animation: education_col13 0.6s ease-in-out forwards;
        }
        .education_col23{
            animation: education_col2 0.6s ease-in-out forwards;
        }


        /* Skills */
        .skills_header3{
            animation: skills_header 0.5s ease-in forwards;
        }
        .skills_bar_ani3 .con .one{
            animation: skillsbarone 1s ease forwards ;
        }
        .skills_bar_ani3 .con .two{
            animation: skillsbartwo 1s ease forwards ;
            animation-delay: 0.3s;
        }
        .skills_bar_ani3 .con .three{
            animation: skillsbarthree 1s ease forwards ;
            animation-delay: 0.6s;
        }
        .skills_bar_ani3 .con .four{
            animation: skillsbarfour 1s ease forwards ;
            animation-delay: 1s;
        }
        .skills_bar_ani3 .con .five{
            animation: skillsbarfive 1s ease forwards ;
            animation-delay: 1.3s;
        }
    }

    /* keyfreams landing page */
    @keyframes namebar_moving {
        0%{
            width: 5px;
        }
        50%{
            width: 80px;
        }
        100%{
            width: 5px ;
        }
    }
    @keyframes arrow_down{
        0%{
            transform: translateY(-5px);
        }
        50%{
            transform: translateY(10px);
        }
        100%{
            transform: translateY(-5px);
        }
    }
    @keyframes  moving{
        0%{
            transform: scale(0);
        }
        50%{
            transform: scale(3);
        }
        100%{
            transform: scale(0);
        }
    }
    @keyframes  moving1{
        0%{
            top: 0%;
            left: -10%;
        }
        50%{
            top: 50%;
            left: 50%;
        }
        100%{
            top: 100%;
            left: 100%;
        }
    }

    @keyframes updown_bar{
        0%{
            width: 0;
        }
        50%{
            width: 100%;
        }
        100%{
            width:0
        }
    }
    @keyframes updown_bar_mid{
        0%{
            width: 100%;
        }
        50%{
            width:0;
        }
        100%{
            width: 100%;
        }
    }
    @keyframes left_content {
        0%{
            transform: translateX(-100%);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes social_links {
        0%{
            transform: scale(5);
        }
        100%{
            opacity: 1;
        }
        
    }
    @keyframes right_content {
        0%{
            transform: scale(5);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes introduction{
        0%{
            transform: scaleX(5);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes mystory{
        0%{
            transform: translateY(200px);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes typer{
        0%{
            content: "A Coder.";
        }
        45%{
            content: "An Ai Model Builder.";
            color:rgb(0, 161, 255);
        }

        75%{
            content: "A Python Developer.";
        }
        100%{
            content: "A Coder.";
        }

    }
    @keyframes drop_down{
        0%{
            opacity: 0;
            transform: scale(4);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes hide_down{
        0%{
            opacity: 1;
            
        }
        100%{
            transform: scale(3);
            opacity: 0;
        }
    }


    @keyframes aboutme_header{
        0%{
            opacity: 0;
            transform: translateY(-150px);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes aboutme_img{
        0%{
            opacity: 0;
            transform: scale(2);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes aboutme_names{
        0%{
            transform: scale(0);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes aboutme_obj{
       0%{ 
           /* opacity: 0; */
           transform: translateY(200px);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes aboutme_iknow{
        0%{
            transform: scale(0);
        }
        100%{
            transform: scale(1);
            opacity: 1;
        }
    }
    @keyframes aboutme_btn{
        0%{
            transform: scale(0);
        }
        100%{
            transform: scale(1);
            opacity: 1;
        }
    }

    /* Education */
    @keyframes education_col13{
        0%{
            transform: translateX(-100%);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes education_col2{
        0%{
            transform: translateX(100%);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes skills_header{
        0%{
            transform: scale(0);
        }
        100%{
            transform: scale(1);
            opacity: 1;
        }
    }
    @keyframes skillsbar{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes skillsbarone{
        0%{
            width: 0;
        }
        100%{
            width: 90%;
        }
    }
    @keyframes skillsbartwo{
        0%{
            width: 0;
        }
        100%{
            width: 70%;
        }
    }
    @keyframes skillsbarthree{
        0%{
            width: 0;
        }
        100%{
            width: 80%;
        }
    }
    @keyframes skillsbarfour{
        0%{
            width: 0;
        }
        100%{
            width: 60%;
        }
    }
    @keyframes skillsbarfive{
        0%{
            width: 0;
        }
        100%{
            width: 50%;
        }
    }

/* } */