/* @media screen and (max-width: 576px){ */
    /* Landing Page */

    #landing_page .landing_page_items .col_left .name_bar,
    #aboutme .name_bar{
        animation: namebar_moving 1.5s ease-in-out infinite;
    }
    #landing_page .landing_page_items .col_right a i.fa-arrow-circle-down,
    #landing_page .landing_page_items .col_left a i.fa-arrow-circle-down,
    #contact .container .col_left a i.fa-arrow-circle-down{
        animation:arrow_down 0.8s ease infinite;
    }
    #landing_page .container .moving,
    #aboutme .moving{
        animation: moving 2s linear infinite;
    }
    #landing_page .container .moving1,
    #aboutme .moving1{
        animation: moving1 5s linear infinite;
    }
    #landing_page .container .moving2{
        animation: moving2 6s linear infinite;
        animation-delay: 0.5s;
    }
    #landing_page .landing_page_items .col_left{
        animation: left_content 0.5s ease-in forwards;
        opacity: 0;
    }
    #landing_page .landing_page_items .col_left .landing_page_links a{
        animation: social_links 0.4s ease-in forwards;
        animation-delay: 0.7s;
    }
    #landing_page .landing_page_items .col_right h6{
        animation: introduction 0.5s ease-in forwards;
        animation-delay: 1s;
    }
    #landing_page .landing_page_items .col_right h1{
        animation: right_content 0.5s ease-in forwards;
        animation-delay: 1.6s ;
    }
    #landing_page .landing_page_items .col_right p,
    #landing_page .landing_page_items .col_right a{
        animation: mystory 0.5s ease-in forwards;
        animation-delay: 1.8s;
    }
    #landing_page .container nav .logo .bars .bar_up{
        animation: updown_bar 1.5s ease-in-out infinite;
    }
    #landing_page .container nav .logo .bars .bar_mid{
        animation: updown_bar_mid 1.5s linear infinite;
    }
    .typer::after{
        content: "";
        animation: typer 5s ease-in infinite;
        color: rgb(255, 59, 0);
    }
    .show_drop{
        animation: drop_down 0.5s ease forwards;
    }
    .hide_drop{
        animation: hide_down 0.5s ease forwards;
    }


    /* keyfreams landing page */
    @keyframes namebar_moving {
        0%{
            width: 5px;
        }
        50%{
            width: 80px;
        }
        100%{
            width: 5px ;
        }
    }
    @keyframes arrow_down{
        0%{
            transform: translateY(-5px);
        }
        50%{
            transform: translateY(10px);
        }
        100%{
            transform: translateY(-5px);
        }
    }
    @keyframes  moving{
        0%{
            transform: scale(0);
        }
        50%{
            transform: scale(3);
        }
        100%{
            transform: scale(0);
        }
    }
    @keyframes  moving1{
        0%{
            top: 0%;
            left: -10%;
        }
        50%{
            top: 50%;
            left: 50%;
        }
        100%{
            top: 100%;
            left: 100%;
        }
    }

    @keyframes updown_bar{
        0%{
            width: 0;
        }
        50%{
            width: 100%;
        }
        100%{
            width:0
        }
    }
    @keyframes updown_bar_mid{
        0%{
            width: 100%;
        }
        50%{
            width:0;
        }
        100%{
            width: 100%;
        }
    }
    @keyframes left_content {
        0%{
            transform: translateX(-100%);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes social_links {
        0%{
            transform: scale(5);
        }
        100%{
            opacity: 1;
        }
        
    }
    @keyframes right_content {
        0%{
            transform: scale(5);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes introduction{
        0%{
            transform: scaleX(5);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes mystory{
        0%{
            transform: translateY(200px);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes typer{
        0%{
            content: "A Coder.";
        }
        45%{
            content: "An Ai Model Builder.";
            color:rgb(0, 161, 255);
        }

        75%{
            content: "A Python Developer.";
        }
        100%{
            content: "A Coder.";
        }

    }
    @keyframes drop_down{
        0%{
            opacity: 0;
            transform: scale(4);
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes hide_down{
        0%{
            opacity: 1;
            
        }
        100%{
            transform: scale(3);
            opacity: 0;
        }
    }

/* } */