*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
}
a{
    text-decoration: none;
}

#landing_page{
    max-width: 100%;
    height: 100vh;
    background-color: #222222;
}
#landing_page .container{
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    position: relative;
}
#landing_page .container .moving{
    position: absolute;
    z-index: 9;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.055);
}
#landing_page .container .moving1{
    position: absolute;
    z-index: 9;
    width: 100px;
    height: 3px;
    transform: rotate(240deg);
    background-color: rgba(255, 255, 255, 0.116);
}
#landing_page .container .moving1:nth-child(2){
    transform: rotate(60deg);
}
#landing_page .container .moving:nth-child(1){
    width: 10px;
    height: 10px;
    top: 27%;
    left: 19%;
    background-color: rgba(0, 162, 255, 0.144);
}
#landing_page .container .moving:nth-child(2){
    width: 10px;
    height: 10px;
    top: 60%;
    left: 55%;
    animation-delay: 1s;
}
#landing_page .container .moving:nth-child(3){
    width: 10px;
    height: 10px;
    bottom: 17%;
    left: 25%;
}
#landing_page .container .moving:nth-child(4){
    width: 10px;
    height: 10px;
    top: 10%;
    left: 28%;
    animation-delay: 0.3s;
}
#landing_page .container .moving:nth-child(5){
    width: 6px;
    height: 6px;
    right: 7%;
    top: 82%;
    animation-delay: 0.8s;
    background-color: rgba(0, 162, 255, 0.144);
}
#landing_page .container .moving:nth-child(6){
    width: 5px;
    height: 5px;
    top: 45%;
    left: 35%;
    animation-delay: 1.2s;
}
#landing_page .container .moving:nth-child(7){
    width: 8px;
    height: 8px;
    top: 95%;
    left: 54%;
    background-color: rgba(0, 162, 255, 0.144);
}
#landing_page .container .moving:nth-child(8){
    width: 10px;
    height: 10px;
    top: 40%;
    left: 45%;
}
#landing_page .container .moving:nth-child(9){
    width: 100px;
    height: 2px;
    top: 47%;
    left:40%;
    animation-delay: 1.4s;
}
#landing_page .container .moving:nth-child(10){
    width: 100px;
    height: 2px;
    top: 7%;
    left: 5%;
    transform: rotate(90deg);
}
#landing_page .container nav{
    max-width: 100%;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#landing_page .container nav .logo{
    font-size: 1.7rem;
    text-decoration: none;
    color: rgb(255, 59, 0);
    font-weight: bold;
}
#landing_page .container nav .logo .bars{
    width: 20px;
    height: 20px;
    display: inline-block;
}
#landing_page .container nav .logo .bars .bar{
    height: 3px;
    margin-top:3.5px;
    background-color:rgb(255, 59, 0);
    
}
#landing_page .container nav .logo span{
    color: rgb(0, 161, 255);
}
#landing_page .container nav .logo span i{
    font-size: 20px;
    color: rgb(255, 59, 0);
}
#landing_page .container nav label i{
    font-size: 1rem;
    color: rgb(0, 161, 255);
    padding: 3px;
    cursor: pointer;
    font-size: 1.5rem;
    /* display: none; */
}

#landing_page .container nav input{
    display: none;
}
#landing_page .container .nav_items{
    margin-left: 1rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
#landing_page .container .nav_items a:nth-child(2){
    margin: 0 3rem;
}

#landing_page .container .nav_items{
    opacity: 0;
}
#landing_page .container .nav_items a{
    font-size: rem;
    transition: 0.3s;
    font-weight: 500;
    display: inline-block;
}
/* #landing_page .container .nav_items a.active{
    color:rgb(255, 59, 0) ;
} */
#landing_page .container .nav_items div{
    background-color:rgb(255, 59, 0) ;
    height: 7px;
    width: 7px;
    border-radius: 100%;
    margin: auto;
    margin-top: 3px;
}
#landing_page .container .nav_items a:hover {
    color: rgb(255, 59, 0);
}
#landing_page .landing_page_items{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#landing_page .landing_page_items .col_left h6{
    color: #555;
    font-weight: bolder;
}
#landing_page .landing_page_items .col_left h1{
    font-size: 4rem;
    margin: 1.5rem 0;
}
#landing_page .landing_page_items .col_left h3{
    font-size: 1.8rem;
    margin: 1rem 0;
    overflow: hidden;
}
#landing_page .landing_page_items .col_left h3 span{
    color: rgb(255, 59, 0);
}
#landing_page .landing_page_items .col_left .name_bar{
    width: 70px;
    height: 5px;
    background-color: rgb(255, 59, 0);
    border-radius: 10px;
    margin: 10px 0;
    margin: auto;
}
#landing_page .landing_page_items .col_left .landing_page_links{
    display: flex;
    flex-direction: column;
}
#landing_page .landing_page_items .col_left .landing_page_links .link1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0 2rem 0;
}
#landing_page .landing_page_items .col_left .landing_page_links .link1 a{
    opacity: 0;
}
#landing_page .landing_page_items .col_left .landing_page_links .link2{
    overflow: hidden;
    height: 100px;
}
#landing_page .landing_page_items .col_left .landing_page_links .link2 a{
    margin-top:2rem;
    font-size: 1rem;
    opacity: 0;
}
#landing_page .landing_page_items .col_left .landing_page_links a.mystory{
    display: block;
}
#landing_page .landing_page_items .col_left .landing_page_links a i{
    font-size: 20px;
    transition: 0.4s;
}
#landing_page .landing_page_items .col_left .landing_page_links a i:hover{
    color: rgb(255, 59, 0);
}

#landing_page .landing_page_items .col_left a i.fa-arrow-circle-down{
    display: block;
    margin-top: 1rem;
    color: rgb(255, 59, 0);
}
/* About me */
#aboutme{
    background-color: #333;
}
@media screen and (min-width: 576px){
    #landing_page .container{
        padding: 4rem;
    }
}
@media screen and (max-width: 576px){
    /* Landing Page */
    #landing_page .container{
        padding: 1rem 3rem;
    }
    #landing_page .container nav .left_nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #landing_page .container nav{
        position: relative;
    }
    #landing_page .container nav .logo{
        font-size: 1.5rem;
    }
    #landing_page .container nav label i{
        display: block;
        font-size: 1.5rem;
    }
    #landing_page .container nav .nav_items{
        display: none;
        /* background-color: rgb(0, 161, 255); */
        background-color: #222222;
        position: absolute;
        z-index: 1;

    }
    #landing_page .container nav .nav_items a{
        display: inline;
        font-size: 1rem;
        display: block;
        margin-top: 2rem;
    }
    #landing_page .container nav input:checked + #drop_down{
        display: block;
    }

    #landing_page .landing_page_items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
        height: auto;
    }
    #landing_page .landing_page_items .col_left{
        padding: 1rem;
        text-align: center;
        margin-top: 20px;
    }

    #landing_page .landing_page_items .col_left h1{
        font-size: 2.5rem;
    }
    #landing_page .landing_page_items .col_left h3{
        font-size: 1.35rem;
    }
    #landing_page .landing_page_items .col_left .landing_page_links{
        margin-left: 0;
    }
    #landing_page .landing_page_items .col_left .landing_page_links .link1{
        margin: 2rem;
    }
    #landing_page .landing_page_items .col_left .landing_page_links a{
        margin-top: 2rem;
    }

    #landing_page .landing_page_items .col_left .name_bar{
        margin:10px auto;
    }

    #landing_page .landing_page_items .col_left a{
        display: block;
        margin-top: -15px;
        text-decoration: none;
    }
    #landing_page .landing_page_items .col_left a i.fa-arrow-right{
        display: none;
    }
    #landing_page .landing_page_items .col_left a i.fa-arrow-circle-down{
        display: block;
        margin: 10px auto;
        text-decoration: none;
    }
}

@media screen and (max-width: 350px){
    #landing_page .landing_page_items .col_left h1{
        font-size: 2.5rem;
    }
    #landing_page .landing_page_items .col_left .landing_page_links .link1{
        margin: 1rem;
    }
}